.contact-contanier {
    width: 100%;
    height: auto;
    padding: 2% 0px;
}



.second-contact-head {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.second-contact-head .contact-box {
    width: 42%;
    height: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;

}



#left-box .imgBox {
    display: inline-block;
    border-radius: 1330px;
    padding: 20px;
    background: linear-gradient(80deg, var(--first-color)60%, transparent 50%);
    margin-bottom: 20px;

}

#left-box .imgBox img {
    width: 160px;
    height: 160px;
    overflow: hidden;
    border-radius: 100px;
}

.textBox {
    width: 100%;
    padding: 10px;
}




#right-box {
    background: var(--black-color);
    padding: 60px;
    box-shadow: 0px 0px 10px 1px var(--shodow);
    border-radius: 20px;
}


.textBox p {
    color: var(--text-color);
    line-height: 30px;
    font-size: var(--normal-font-size);
    font-weight: var(--weight-400);
    margin-bottom: 30px;

}


.textBox .icons a {
    color: var(--text-color);
    font-size: 34px;
    font-weight: var(--weight-400);
    background-color: var(--black-color);
    padding: 10px 10px 0px 10px;
    margin: 10px;
    border-radius: 200px;
    color: var(--first-color);
    box-shadow: 0px 0px 4px 1px var(--shodow);

}

.input-box {
    width: 100%;
    height: auto;
}

.inputs {
    display: flex;
    flex-direction: column;
}

.inputs label {
    margin-bottom: 10px;
    color: var(--text-color);
    font-size: 16px;
    font-weight: 300;
}

.inputs input,
textarea {
    width: 100%;
    margin-bottom: 15px;
    padding: 6px 10px;
    font-weight: 400;
    font-size: 18px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid var(--white-color);
    outline: none;
    color: var(--white-color);

}

.butn {
    width: 100%;
    text-align: center;
    margin: 10px;
}

.butn button {
    position: relative;
    width: 155px;
    border-radius: 20px;
    padding: 8px 10px;
    overflow: hidden;
    color: var(--first-color);
    border: 1px solid var(--first-color);
    background-color: transparent;
    transition: 1s;
    cursor: pointer;
}

button:hover {
    color: var(--white-color);
    background-color: var(--first-color);

}




@media (max-width:1100px) {
    #right-box {
        padding: 40px;
    }
}

@media (max-width:1030px) {
    #right-box {
        padding: 40px;
    }

    .second-contact-head .contact-box {
        width: 44%;
        height: 100%;
    }

}

@media (max-width:950px) {
    #right-box {
        padding: 20px;
    }

    .second-contact-head .contact-box {
        padding: 10px;
        margin: 10px;

    }

    .textBox p {

        font-size: 15px;


    }

}


@media (max-width:800px) {
    .second-contact-head .contact-box {
        padding: 0px;
        margin: 10px;

    }

    .textBox {
        padding: 0px;
    }

}

@media (max-width:700px) {
    .second-contact-head {
        flex-direction: column;
    }

    .second-contact-head .contact-box {
        width: 87%;
        padding: 0px;
        margin: 20px;

    }

    #right-box {
        padding: 40px;
    }

    .textBox {
        padding: 0px;
        text-align: center;
    }

}

@media (max-width:500px) {
    #right-box {
        padding: 20px;
    }
}

@media (max-width:400px) {
    .textBox .icons a {
        font-size: 20px;
        padding: 10px 10px 0px 10px;
        margin: 5px;


    }

    .inputs input,
    textarea {
        margin-bottom: 5px;
        padding: 6px 8px;
        font-size: 14px;


    }

    .inputs label {
        margin-bottom: 5px;
        font-size: 14px;
    }

    .contact-contanier {
        padding: 1% 0px;
    }

   
}