@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  font-family: 'Poppins', sans-serif;
}

:root {

  /* *===============================color==============================* */
  --black-color: rgb(17, 17, 17);
  --white-color: white;
  --first-color: rgb(58, 96, 207);
  --title-color: hsl(0, 0%, 40%);
  --text-color: hsl(0, 0%, 50%);
  --shodow: rgba(51, 51, 51, 0.7);
  /* *=============================== font ==============================* */

  --body-font: 'Open Sans', sans-serif;
  --second-font: 'Poppins', sans-serif;

  /* *=============================== font size ==============================* */

  --big-font-size: 50px;
  --h1-font-size: 50px;
  --h2-font-size: 26px;
  --large-font-size: 18px;
  --normal-font-size: 16px;
  --small-font-size: 15px;
  --smaller-font-size: 14px;
  --tiny-font-size: 12px;


  /*== ===== Font Weight ==========*/

  --weight-400: 400;
  --weight-500: 500;
  --weight-600: 600;
  --weight-700: 700;
  --weight-800: 800;


}

.bigcontanier{
  padding-top: 70px;
  background: var(--black-color);
}

[data-theme="light"] {
  --black-color: white;
  --white-color: rgb(17, 17, 17);
  --shodow: rgba(51, 51, 51, 0.2);


}

* {
  transition: all 0.4s ease-in-out;
}

.dark-mode {
  top: 66px;
  position: fixed;
  display: inline-block;
  width: 60px;
  height: 30px;
  border-radius: 20px;
  background-color: black;
  z-index: 1111;
}

.dark-mode input {
  opacity: 0;
  width: 0px;
  height: 0px;
}

.dark-mode label {
  position: absolute;
  cursor: pointer;
  top: 0%;
  left: 0%;
  bottom: 0px;
  right: 0px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 20px;
  color: white;
}

label .icoon {
  position: relative;
  z-index: 10;
}

.dark-mode label::before {
  position: absolute;
  content: "";
  width: 24px;
  height: 24px;
  left: 3px;
  top: 3px;
  border-radius: 100px;
  background-color:rgb(137, 191, 245) ;
  
}

input:checked+label::before {
  transform: translateX(28px);
  background-color: orange;
}

input:checked+label {
  color: white;
  background-color: rgb(210, 229, 246);

}





.heads {
  font-size: var(--big-font-size);
  color: var(--white-color);
  margin-bottom: 20px;
}








ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

.all-head {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  color: var(--white-color);
  padding: 0px;
}

.all-head .head {
  font-size: var(--big-font-size);
  color: var(--white-color);
  margin-bottom: 20px;
}

.samll-head{
  margin-bottom: 10px;
  font-size: 38px;
  color: var(--white-color);
  font-weight: var(--weight-600);
  text-transform: capitalize;
  text-align: center;
}

@media (max-width:900px) {
  .heads {
    font-size: 38px;
    margin-bottom: 20px;
    
  }
  .samll-head{
    font-size: 30px;
    
  }
}
@media (max-width:800px) {
  .heads {
    font-size: 34px;
    margin-bottom: 15px;
  }
  .samll-head{
    font-size: 26px;
    
  }
}
@media (max-width:650px) {
  .heads {
    font-size: 30px;
    margin-bottom: 10px;
  }
  .samll-head{
    font-size: 20px;
    
  }
}
@media (max-width:650px) {
  .heads {
    font-size: 30px;
    margin-bottom: 5px;
  }
}